<section id="about" class="p-6 transparent">
  <!-- Contenido de la sección about -->
  <div class="flex flex-col items-center mt-6">
    <img
      src="pp.jpg"
      alt="Profile Picture"
      class="w-[250px] h-[500px] rounded-full border-4 border-white"
    />
    <p class="mt-2 text-sm font-bold text-white text-center">
      Computer science and TI Engineering student
    </p>
    <h2 class="mt-1 text-sm thext-white text-center">Hey! My name is Sofia Garcia Orellana.</h2>
    <p class="mt-1 text-sm text-white text-center opacity-80 text-pretty">
     I am currently halfway through my
      third year of university based in Guatemala. Learning web
      development has been a thrilling journey and soon became one of my
      passions. I'm eager to continue exploring the vast oportunities within the
      field. I am very commited to keep on learning, staying updated with
      the latest trends and technologies in the industry. Also I'd like to keep
      on contributing on new projects in order to grow my career as a
      programmer. 
    </p>
    <p class="mt-1 text-sm text-center opacity 80"> Here's a look into what I've done so far...</p>
  </div>
</section>
