---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Contacto from '../components/Contacto.astro';
import Experiencia from '../components/Experiencia.astro';
import Tecnologias from '../components/Tecnologias.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Experiencia />
		<About />
		<Tecnologias />
		<Contacto />
	</main>
</Layout>


