---
import About from "../components/About.astro";
import Contacto from "../components/Contacto.astro";
import Experiencia from "../components/Experience.jsx";
import Header from "../components/Header.astro";
import Projects from "../components/Projects";
import Tecnologias from "../components/Tecnologias";
import Layout from "../layouts/Layout.astro";
import "../styles/preloader.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sofia Garcia's Web Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="logo.png" />
    <title>My Portfolio</title>
  </head>
  <body>
    <div id="preloader">
      <div class="drop-container">
        <div class="drop"></div>
        <img src="/logo2.0.png" alt="Logo" class="logo" />
      </div>
    </div>
    <div id="content" style="display: none;">
      <Layout title="Welcome to Astro.">
        <Header />
        <main>
          <About />
          <Experiencia client:load />
          <Projects client:load />
          <Tecnologias client:load />
          <Contacto />
        </main>
      </Layout>
    </div>
    <script src="/src/scripts/preloader.js"></script>
  </body>
</html>
